html{
    background-color: #0a0a23;
    color: honeydew;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


h1{
    font-size: 40px;
}

#headContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 50px;
    padding: 10px;
}

#container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

#buttonContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:baseline;

}

#sentence{
    background-color: white;
    color: #0a0a2a;
    font-size: 20px;
}

p{
    margin: 10px;
    padding: 16px;
}