html{
    background-color: #5a5ab7;
    color: honeydew;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
}


h1{
    font-size: 40px;
}

#image{
    margin-left: 150px;
}
#headContainer{
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; */
    margin: 10px 50px;
    padding: 10px;
}

#container{
    margin: 10px;
    padding: 10px;
}

#buttonContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:baseline;

}

#sentence{
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.735);
    color: #0a0a2a;
    font-size: 20px;
    text-align: center;
}

p{
    /* margin: 10px; */
    /* padding: 16px; */
}